ul {
  list-style-type: none;
  background-color: #738a8c;
  border: 1px solid #555;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3%;
  position: fixed;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li:last-child {
  border-bottom: none;
}
.special {
  background-color: #d6d0d8;
}
img.special {
  padding: 20px;
  margin: 15px;
  float: right;
}
